@media (max-width: 1024px) {
  .my_photo {
    width: 100%;
    height: 100vh;
    background-image: url('../laptops/midias/my_photo_home.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .biography{
    display: none;
}

.container_skills{
    display: none;
}
}
