
@media (max-width: 768px){

.my_biography{
    height: 100vh;
    max-width: 80%;
    margin: auto;
    
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.text_biography{
    font-family: 'Lora', Arial, Helvetica, sans-serif;
    line-height: 1.5;
    text-align: justify;
}

.title_biography img{
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 0px auto 35px auto;

    display: flex;
    justify-content: center;
}
}

@media (orientation: landscape){
    .my_biography{
        max-width: 400px;
    }

}