    .skills{
    height: 100vh;
    max-width: 80%;
    margin: 0px auto 50px auto;
}

.container_skills{
    height: 100vh;
    width: 100%;
    padding: 50px 0px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.card_skills{
    font-family: 'lora', Arial, Helvetica, sans-serif;
    color: var(--color-font);
    width: 90%;
    max-width: 500px;
    background-color: var(--color-cards);
    padding: 20px 10px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px var(--color-elements);
    border-left: 6px solid var(--color-elements);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    .title_card{
        margin-bottom: 20px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        gap: 5px;
    }

    p{
        text-align: justify;
        margin-bottom: 0px;
        hyphens: auto;
    }

    h3{
        font-size: 1.3em;
        color: var(--color-font);
    }
}

.icon img{
    width: 30px;
}

@media (orientation: landscape){
    .skills{
        width: 100%;
        height: auto;
        margin: auto;
    }

    .card_skills{
        width: 80%;
        max-width: 500px;
        margin-bottom: 20px;
    }
}

@media (min-width: 680px){
    .skills{
        max-width: 100%;
        max-height: 70vh;
        display: flex;
        margin-top: 50px;
        
    }
    
    .container_skills{
        height: auto;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .card_skills{
        width: 30%;
        height: auto;
        min-height: 220px;
        padding: 20px 10px;
        justify-content: flex-start;
        transition: 0.3s;
        
        .title_card{
            word-break: break-all;
            padding: 0px;
            margin-bottom: 15px;
        }
    }

    .card_skills:hover{
        transform: translateY(-5%);
        transition: 0.3s;
    }
}