*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --color-background: #e0dcd1;
    --color-font: #1A1A1A;
    --color-cards: #F2F2F2;
    --color-elements: #BC8A5F;
    --color-shadow: #D4AF37;
}

body{
    width: 100vw;
    height: auto;
    background-color: var(--color-background);
    position: static;
}

p{
    font-family: 'Lora', arial;
    line-height: 1.5;
    margin-bottom: 20px;
    color: var(--color-font);
}


/* Cover */

.cover [src]{
    max-width: 100%;
    height: 100%;
}


/* Biogrphy */

.my_biography{
    height: 100vh;
    max-width: 80%;
    margin: auto;
}

.my_biography{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.text_biography{
    font-family: 'Lora', Arial, Helvetica, sans-serif;
    line-height: 1.5;
    text-align: justify;
}

.title_biography img{
    width: 100%;
    height: auto;
    margin-bottom: 35px;
}


/* Skills */

.skills{
    height: 100vh;
    max-width: 80%;
    margin: auto;
}

.container_skills{
    height: 100%;
    width: 100%;
    padding: 50px 0px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.card_skills{
    font-family: 'lora', Arial, Helvetica, sans-serif;
    color: var(--color-font);
    width: 80%;
    background-color: var(--color-cards);
    padding: 20px 10px;
    border-radius: 8px;
    box-shadow: 1px 1px 5px var(--color-shadow);
    border-left: 6px solid var(--color-elements);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    .title_card{
        margin-bottom: 20px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        gap: 5px;
    }

    p{
        text-align: justify;
        margin-bottom: 0px;
        hyphens: auto;
    }

    h3{
        font-size: 1.3em;
        color: var(--color-font);
    }
}

.icon img{
    width: 30px;
}


/* Works */

.works{
    margin: auto;
    max-width: 90%;
    height: 100vh;

    display: flex;
    align-items: center;
    
}
.contain_works{
    width: 100%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.507);
    padding: 20px 10px; 
    border-radius: 12px 12px 0px 0px; 
    box-shadow: 2px 2px 8px var(--color-elements); 

    display: flex;
    flex-flow: column nowrap;

    h1{
        font-size: 2.2em;
        margin-bottom: 20px;
        color: var(--color-font);
    }
    
}

.container_photos_inline{
    width: 100%;
    height: 25%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 10px;
    
}

.container_photo{
    width: 33%;
    height: 100%;
    background-color: white;
    border: 1px solid rgba(137, 137, 137, 0.558);
    border-radius: 8px 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.185);

}

.photo{
    width: 100%;
    height: 80%;
    background-color: grey;
    border-radius: 8px 0px;
    
}
img{
    max-width: 100%;
    min-height: 100%;
    border-radius: 8px 0px 3px 3px;
}
