*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --color-background: #dab8a6;
    --color-font: #183150;
}

body{
    width: 100vw;
    height: auto;
    background-color: #dab8a6;
}

p{
    font-family: 'Lora', arial;
    line-height: 1.5;
    margin-bottom: 20px;
    color: var(--color-font);
}


/* Cover */

.cover [src]{
    max-width: 100%;
    height: 100%;
}


/* Biogrphy */

.my_biography{
    height: 100vh;
    max-width: 80%;
    margin: auto;
}

.my_biography{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.text_biography{
    font-family: 'Lora', Arial, Helvetica, sans-serif;
    line-height: 1.5;
    text-align: justify;
}

.title_biography img{
    width: 100%;
    height: auto;
    margin-bottom: 35px;
}


/* Skills */

.skills{
    height: 100vh;
    max-width: 80%;
    margin: auto;
}

.container_skills{
    height: 100%;
    width: 100%;
    padding: 50px 0px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.card_skills{
    font-family: 'lora', Arial, Helvetica, sans-serif;
    color: var(--color-font);
    width: 80%;
    background-color: rgba(255, 255, 255, 0.184);
    padding: 20px 10px;
    border-radius: 8px;
    border-left: 6px solid var(--color-font);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    .title_card{
        margin-bottom: 20px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        gap: 5px;
    }

    p{
        text-align: justify;
        margin-bottom: 0px;
        hyphens: auto;
    }

    h3{
        font-size: 1.3em;
        color: var(--color-font);
    }
}

.icon img{
    width: 30px;
}


/* Works */

.contain_works{
    margin: auto;
    max-width: 95%;
    height: 100vh;
    padding: 20px 0px;

    display: flex;
    flex-flow: column nowrap;
    
}

.photos{
    width: 100%;
    height: 20%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 5px;
}

.photos_inline{
    width: 33%;
    height: 100%;
    

}
img{
    max-width: 100%;
    min-height: 100%;
    border-radius: 8px;
}
