*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --color-background: #e0dcd1;
    --color-font: #1A1A1A;
    --color-cards: #F2F2F2;
    --color-elements: #BC8A5F;
    --color-shadow: #D4AF37;
}


body{
    width: 100vw;
    height: auto;
    background-color: var(--color-background) !important;
    overflow-x: hidden;
}

p{
    font-family: 'Lora', arial;
    line-height: 1.5;
    margin-bottom: 20px;
    color: var(--color-font);
}

