
@media (min-width: 680px) {

.works{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
#carouselExample{
    height: fit-content;
    max-height: 90vh;
    width: 80vw;
    max-width: 700px;
    margin: 15% auto 15% auto;
    border-radius: 10px;
    box-shadow: 0px 0px 20px var(--color-elements);
    overflow: hidden;
}

.carousel-inner{
    height: auto;
    min-width: 100%;
    object-fit: cover;
}

.carousel-item{
    height: auto;
    min-width: 100%;
    object-fit: cover;
}

@media screen and (orientation: landscape) and (max-height:500px){
    .works{
        min-height: fit-content;
        margin-top: 25%;
    }
    #carouselExample{
        max-width: 40vw;
        max-height: 100vh;
        margin: 0px;
    }
}

}
@import 'bootstrap/dist/css/bootstrap.min.css';