@media (max-width: 500px) {
    

.my_photo {
    width: 100%;
    height: 100vh;
    background-image: url('./midias/my_photo_cell.gif');
    background-size: cover;
    background-position: center center;
  }


.biography {
  display: none;
}

.container_skills {
  display: none;

}
}